{%extends 'project_layout.html'%}
{% block title %}
{% if title %}{{ title }}{% else %}Speed typing game{% endif %}
{% endblock %}
{% block default%}

<iframe
        src="{{ url_for('static', filename='angry_dad/build/web/index.html') }}"
        width="800" height="600"
>

</iframe>
<style>
    iframe {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        width: 70%;
        height: 80%;
        z-index: 1;
    }

</style>
{% endblock %}

{% block scripts %}
<script src="/static/js/speed-typing.js"></script>
{% endblock scripts %}