{%extends "layout.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}


<h1 class="about-title">Contacts</h1>

    <div class="my_contact">
        <a href="" class="social-link d-block" target="_blank">
            <img src="/static/assets/img/icons/telegram.png" alt="" width="50px">
            <span class="">Telegram</span>
        </a>
        <a href="" class="social-link d-block" target="_blank">
            <img src="/static/assets/img/icons/github.png" alt="" width="50px">
            <span class="">GitHub</span>
        </a>
        <a href="" class="social-link d-block" target="_blank">
            <img src="/static/assets/img/icons/viber.png" alt="" width="50px">
            <span class="">Viber</span>
        </a>

    </div>

</div>



{% endblock %}